configuration {
    modi:                       "drun,run";
    show-icons:                 true;
    icon-theme:                 "Papirus";
    drun-display-format:        "{name}";

    display-drun:               " Apps";
    display-run:                " Run";

    font:                       "JetBrainsMono Nerd Font 12";
}

@theme "~/.config/rofi/theme.rasi"
